version: '3'
services:
  nexus-commerce-api:
    build: .
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    ports:
      - "80:80"
    depends_on:
      - db
  db:
    image: postgres
    environment:
      - POSTGRES_USER=nexus
      - POSTGRES_PASSWORD=nexus
      - POSTGRES_DB=nexus-commerce
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data: