@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-textColor font-body;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}